# For more information on available properties, see:
#   http://git-scm.com/docs/git-config
# or run (on command line):
#   git help config

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Trushar Mistry
	email = trushar.mistry@gmail.com
[core]
    # Don't automatically convert line endings on checkout.
    # We use .gitattributes files to normalize line endings
    # at the repository level:
    # https://help.github.com/articles/dealing-with-line-endings/
    autocrlf = false
[alias]
    # Aliases for useful "hub.exe" commands
    cs = ci-status
    pr = pull-request

    # Aliases for useful "git" commands
    cl = -c core.longpaths=true clean -dfx
    nevermind = !git reset --hard HEAD && git -c core.longpaths=true clean -df
    pf = push --force-with-lease
    s = status
[color]
    # Enable colours in command line output
    branch = true
    diff = true
    grep = true
    interactive = true
    pager = true
    showBranch = true
    status = true
    ui = true
[credential]
    # Uses Git Credential Manager for Windows which is
    # included in Git for Windows by default.
	helper = manager
[fetch]
    # When invoking `git fetch`, remove remote branch references
    # for branches that no longer exist on the remote.
    prune = true
[hub]
    # Updates hub to utilize https protocol by default.
    protocol = https
[merge]
    # Don't keep .orig files
    keepbackup = false
[mergetool]
    keepBackup = false
[pull]
    # When invoking `git pull`, FAIL the pull operation if
    # the branch cannot be fast-forwarded. In other words,
    # do not attempt to merge the remote branch into the
    # local branch. We almost never want this.
    ff = only
[push]
    # When invoking `git push` with no further arguments,
    # safely push the current branch to "upstream" branch;
    # this is the default as of Git 2.0
    default = simple
